In [1]:
import pandas as pd
import os

In [2]:
SCRIPT_DIR_PATH = os.getcwd()
ROOT_DIR_PATH = os.path.dirname(SCRIPT_DIR_PATH)
DATA_DIR_PATH = os.path.join(ROOT_DIR_PATH, "data")
MAPPING_DIR_PATH = os.path.join(DATA_DIR_PATH, "mapping")
PREDICTORS_DIR_PATH = os.path.join(DATA_DIR_PATH, "predictors")
SSP_DIR_PATH = os.path.join(DATA_DIR_PATH, "ssp")
SIMULATION_DIR_PATH = os.path.join(SSP_DIR_PATH, "sisepuede_run_2025-01-14T17;04;06.975301_output_database")
TRAINING_DIR_PATH = os.path.join(DATA_DIR_PATH, "training")

In [3]:
lhc_trials_df = pd.read_csv(os.path.join(PREDICTORS_DIR_PATH, "lhs_sample_group_experiments.csv"))
lhc_trials_df

,1,2,3,4,5,6,7,8,9,10,...,1472,1473,1474,1475,1476,1477,1478,1480,1481,future_id
0,0.952436,0.360397,0.202990,0.995748,0.369859,0.919920,0.478450,0.445798,0.490988,0.510280,...,0.985425,0.482783,0.183188,0.364889,0.005297,0.223598,0.927810,0.036368,0.933822,1
1,0.304955,0.204875,0.540658,0.800192,0.206396,0.777352,0.805727,0.536048,0.779857,0.623335,...,0.437877,0.149747,0.308130,0.780839,0.784662,0.742266,0.147130,0.081654,0.491202,2
2,0.609262,0.366443,0.601808,0.916668,0.386475,0.181162,0.138910,0.768925,0.884425,0.232722,...,0.360238,0.348950,0.165501,0.813845,0.950005,0.342632,0.053104,0.316417,0.173655,3
3,0.815313,0.487444,0.323954,0.634299,0.064625,0.926815,0.633805,0.439346,0.027114,0.532020,...,0.060470,0.660562,0.621883,0.911838,0.030974,0.912003,0.150989,0.246583,0.353195,4
4,0.973878,0.842718,0.884382,0.483039,0.455502,0.003343,0.571994,0.108021,0.346714,0.892123,...,0.910718,0.621574,0.244454,0.927056,0.561529,0.611280,0.552761,0.125694,0.147930,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,0.218189,0.886941,0.569155,0.107766,0.955775,0.380014,0.569711,0.312233,0.791412,0.300450,...,0.669261,0.883331,0.431040,0.045121,0.790492,0.081530,0.351688,0.746613,0.853002,996
996,0.510025,0.235856,0.847465,0.138888,0.182086,0.453749,0.242018,0.215693,0.657012,0.808412,...,0.538035,0.037013,0.528031,0.079728,0.918024,0.653280,0.161674,0.033243,0.257661,997
997,0.276479,0.612911,0.642697,0.952037,0.176638,0.411246,0.169671,0.694365,0.606286,0.678398,...,0.262631,0.657597,0.243538,0.603350,0.377625,0.316224,0.615736,0.996441,0.704642,998
998,0.600573,0.553323,0.306380,0.464389,0.834916,0.786519,0.717580,0.168263,0.009808,0.855097,...,0.069343,0.293393,0.632635,0.168413,0.611178,0.295950,0.813797,0.934377,0.473035,999
999,0.164542,0.057579,0.648085,0.210240,0.441924,0.364614,0.031031,0.873487,0.951080,0.509441,...,0.486452,0.115074,0.989445,0.965431,0.352193,0.278569,0.164544,0.144563,0.306248,1000

In [4]:
var_specifications_df = pd.read_csv(os.path.join(MAPPING_DIR_PATH, "variable_specification_to_sample_group.csv"))
var_specifications_df

                                 variable_specification  sample_group
0                                  area_gnrl_country_ha            48
1       avgload_trns_freight_tonne_per_vehicle_aviation            49
2     avgload_trns_freight_tonne_per_vehicle_rail_fr...            50
3     avgload_trns_freight_tonne_per_vehicle_road_he...            51
4     avgload_trns_freight_tonne_per_vehicle_water_b...            52
...                                                 ...           ...
2211                            yf_agrc_pulses_tonne_ha             2
2212                              yf_agrc_rice_tonne_ha             2
2213                        yf_agrc_sugar_cane_tonne_ha             2
2214                            yf_agrc_tubers_tonne_ha             2
2215              yf_agrc_vegetables_and_vines_tonne_ha             2

[2216 rows x 2 columns]

In [5]:
var_specifications_df["sample_group"].unique().shape

(1502,)

In [6]:
la_emissions_df = pd.read_csv(os.path.join(SIMULATION_DIR_PATH, "MODEL_OUTPUT.csv"))
la_emissions_df

,primary_id,region,time_period,area_agrc_crops_bevs_and_spices,area_agrc_crops_cereals,area_agrc_crops_fibers,area_agrc_crops_fruits,area_agrc_crops_herbs_and_other_perennial_crops,area_agrc_crops_nuts,area_agrc_crops_other_annual,...,yield_agrc_fruits_tonne,yield_agrc_herbs_and_other_perennial_crops_tonne,yield_agrc_nuts_tonne,yield_agrc_other_annual_tonne,yield_agrc_other_woody_perennial_tonne,yield_agrc_pulses_tonne,yield_agrc_rice_tonne,yield_agrc_sugar_cane_tonne,yield_agrc_tubers_tonne,yield_agrc_vegetables_and_vines_tonne
0,275275,louisiana,0,0.0,367983.831774,68239.857458,80.234375,79198.541655,6714.566582,1.154590e+06,...,1607.703461,955073.693482,19786.484805,7.132381e+06,0.0,985.642069,2.422231e+06,2.104457e+07,166526.651285,147.841681
1,275275,louisiana,1,0.0,362385.636787,67201.713944,79.013757,77993.681983,6612.416842,1.137025e+06,...,1618.201188,978025.173334,22849.096189,8.147695e+06,0.0,1148.204785,2.272766e+06,2.016430e+07,170339.476720,150.359797
2,275275,louisiana,2,0.0,361096.126663,66962.583908,78.732596,77716.149895,6588.887271,1.132979e+06,...,1574.244188,945124.232643,20042.187116,1.259799e+07,0.0,1389.455885,2.285081e+06,2.525521e+07,170252.877121,144.566821
3,275275,louisiana,3,0.0,359935.747562,66747.400257,78.479589,77466.409758,6567.713942,1.129338e+06,...,1487.104127,951997.620585,22167.895406,6.139224e+06,0.0,1457.885138,2.426876e+06,2.538268e+07,162040.494052,147.924261
4,275275,louisiana,4,0.0,358773.521179,66531.874041,78.226180,77216.272044,6546.506906,1.125692e+06,...,1583.188921,952671.199593,19588.348855,6.953864e+06,0.0,1125.040763,2.155513e+06,2.356779e+07,166703.308298,163.887648
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36031,276275,louisiana,31,0.0,309402.632008,67494.007968,99.280790,89132.167800,16695.284559,1.161004e+06,...,1449.350481,871948.732854,12592.990056,7.021991e+06,0.0,1055.062331,2.276019e+06,2.403699e+07,196573.614611,166.806631
36032,276275,louisiana,32,0.0,309172.389911,68774.060665,102.272019,91149.219633,18708.483406,1.177036e+06,...,1477.427300,885367.523944,12723.047466,7.109925e+06,0.0,1059.561793,2.296005e+06,2.393306e+07,197056.903265,167.693033
36033,276275,louisiana,33,0.0,308983.403716,70116.106905,105.313909,93186.116688,21109.791025,1.193151e+06,...,1505.572198,898808.002401,12811.278216,7.198400e+06,0.0,1064.598028,2.315909e+06,2.383202e+07,197544.003011,168.591509
36034,276275,louisiana,34,0.0,308833.414335,71512.549952,108.393442,95232.747284,24019.931656,1.209256e+06,...,1533.599093,912175.594875,12844.529332,7.286867e+06,0.0,1070.123263,2.335624e+06,2.373561e+07,198045.569544,169.504094
36035,276275,louisiana,35,0.0,308715.398813,72954.834981,111.497279,97278.672613,27620.872881,1.225251e+06,...,1561.352004,925391.026439,12806.362698,7.374855e+06,0.0,1076.088767,2.355067e+06,2.364535e+07,198571.034958,170.432604

In [7]:
subsector_totals_cols = [col for col in la_emissions_df.columns if "emission_co2e_subsector_total" in col]

# Calculate total_emissions
la_emissions_df["total_emissions"] = la_emissions_df[subsector_totals_cols].sum(axis=1)

cols_to_keep = ["primary_id", "time_period", "total_emissions"]

la_emissions_df = la_emissions_df[cols_to_keep]

la_emissions_df

       primary_id  time_period  total_emissions
0          275275            0       286.240266
1          275275            1       309.612427
2          275275            2       255.419631
3          275275            3       346.415753
4          275275            4       314.404711
...           ...          ...              ...
36031      276275           31       143.883905
36032      276275           32       139.413018
36033      276275           33       134.994698
36034      276275           34       130.557026
36035      276275           35       126.237780

[36036 rows x 3 columns]

In [8]:
# Filter out rows with time_period <= 30
la_emissions_df = la_emissions_df[la_emissions_df["time_period"] > 30]

# aggregate data by primary_id and region by summing the emissions
la_emissions_df_agg = la_emissions_df.groupby(["primary_id"]).sum().reset_index()

# Rename the total_emissions column to total_emissions_last_five_years
la_emissions_df_agg.rename(columns={"total_emissions": "total_emissions_last_five_years"}, inplace=True)

la_emissions_df_agg

      primary_id  time_period  total_emissions_last_five_years
0         275275          165                       140.265338
1         275276          165                       670.507643
2         275277          165                       604.450538
3         275278          165                       475.708631
4         275279          165                       758.004335
...          ...          ...                              ...
996       276271          165                       623.338641
997       276272          165                       747.358673
998       276273          165                       634.154137
999       276274          165                       915.717778
1000      276275          165                       675.086427

[1001 rows x 3 columns]

In [9]:
attr_primary_df = pd.read_csv(os.path.join(SIMULATION_DIR_PATH, "ATTRIBUTE_PRIMARY.csv"))
attr_primary_df

      primary_id  design_id  strategy_id  future_id
0         275275          3         6002          0
1         275276          3         6002          1
2         275277          3         6002          2
3         275278          3         6002          3
4         275279          3         6002          4
...          ...        ...          ...        ...
996       276271          3         6002        996
997       276272          3         6002        997
998       276273          3         6002        998
999       276274          3         6002        999
1000      276275          3         6002       1000

[1001 rows x 4 columns]

In [10]:
la_emissions_df_w_future_id = la_emissions_df_agg.merge(attr_primary_df, on="primary_id", how="inner")

# Drop design_id and stratgy_id columns
la_emissions_df_w_future_id = la_emissions_df_w_future_id.drop(columns=["design_id", "strategy_id", "time_period"])
la_emissions_df_w_future_id

      primary_id  total_emissions_last_five_years  future_id
0         275275                       140.265338          0
1         275276                       670.507643          1
2         275277                       604.450538          2
3         275278                       475.708631          3
4         275279                       758.004335          4
...          ...                              ...        ...
996       276271                       623.338641        996
997       276272                       747.358673        997
998       276273                       634.154137        998
999       276274                       915.717778        999
1000      276275                       675.086427       1000

[1001 rows x 3 columns]

In [11]:
merged_df = la_emissions_df_w_future_id.merge(lhc_trials_df, on="future_id", how="inner")

# Rearrange columns by moving "total_emissions_last_five_years" to the back
cols = list(merged_df.columns)
cols.remove("total_emissions_last_five_years")
cols.append("total_emissions_last_five_years")
merged_df = merged_df[cols]


merged_df

,primary_id,future_id,1,2,3,4,5,6,7,8,...,1472,1473,1474,1475,1476,1477,1478,1480,1481,total_emissions_last_five_years
0,275276,1,0.952436,0.360397,0.202990,0.995748,0.369859,0.919920,0.478450,0.445798,...,0.985425,0.482783,0.183188,0.364889,0.005297,0.223598,0.927810,0.036368,0.933822,670.507643
1,275277,2,0.304955,0.204875,0.540658,0.800192,0.206396,0.777352,0.805727,0.536048,...,0.437877,0.149747,0.308130,0.780839,0.784662,0.742266,0.147130,0.081654,0.491202,604.450538
2,275278,3,0.609262,0.366443,0.601808,0.916668,0.386475,0.181162,0.138910,0.768925,...,0.360238,0.348950,0.165501,0.813845,0.950005,0.342632,0.053104,0.316417,0.173655,475.708631
3,275279,4,0.815313,0.487444,0.323954,0.634299,0.064625,0.926815,0.633805,0.439346,...,0.060470,0.660562,0.621883,0.911838,0.030974,0.912003,0.150989,0.246583,0.353195,758.004335
4,275280,5,0.973878,0.842718,0.884382,0.483039,0.455502,0.003343,0.571994,0.108021,...,0.910718,0.621574,0.244454,0.927056,0.561529,0.611280,0.552761,0.125694,0.147930,600.771431
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,276271,996,0.218189,0.886941,0.569155,0.107766,0.955775,0.380014,0.569711,0.312233,...,0.669261,0.883331,0.431040,0.045121,0.790492,0.081530,0.351688,0.746613,0.853002,623.338641
996,276272,997,0.510025,0.235856,0.847465,0.138888,0.182086,0.453749,0.242018,0.215693,...,0.538035,0.037013,0.528031,0.079728,0.918024,0.653280,0.161674,0.033243,0.257661,747.358673
997,276273,998,0.276479,0.612911,0.642697,0.952037,0.176638,0.411246,0.169671,0.694365,...,0.262631,0.657597,0.243538,0.603350,0.377625,0.316224,0.615736,0.996441,0.704642,634.154137
998,276274,999,0.600573,0.553323,0.306380,0.464389,0.834916,0.786519,0.717580,0.168263,...,0.069343,0.293393,0.632635,0.168413,0.611178,0.295950,0.813797,0.934377,0.473035,915.717778
999,276275,1000,0.164542,0.057579,0.648085,0.210240,0.441924,0.364614,0.031031,0.873487,...,0.486452,0.115074,0.989445,0.965431,0.352193,0.278569,0.164544,0.144563,0.306248,675.086427

In [12]:
# merged_df["8"]

In [18]:
var_traj_df = pd.read_csv(os.path.join(MAPPING_DIR_PATH, "var_trajgroups_experiment.csv"))

# missing_var_groups = [11, 21, 32, 33, 41, 42]
missing_var_groups = [11]

# filer var_traj_df to only include rows that are not  in missing_var_groups
var_traj_df = var_traj_df[~var_traj_df["variable_trajectory_group"].isin(missing_var_groups)]
var_traj_df.tail(10)

    variable_trajectory_group
37                         38
38                         39
39                         40
40                         41
41                         42
42                         43
43                         44
44                         45
45                         46
46                         47

In [19]:
relevant_lhs_cols = var_traj_df["variable_trajectory_group"].values

relevant_lhs_cols = [str(col) for col in relevant_lhs_cols.tolist()]
relevant_lhs_cols

['1',
 '2',
 '3',
 '4',
 '5',
 '6',
 '7',
 '8',
 '9',
 '10',
 '12',
 '13',
 '14',
 '15',
 '16',
 '17',
 '18',
 '19',
 '20',
 '21',
 '22',
 '23',
 '24',
 '25',
 '26',
 '27',
 '28',
 '29',
 '30',
 '31',
 '32',
 '33',
 '34',
 '35',
 '36',
 '37',
 '38',
 '39',
 '40',
 '41',
 '42',
 '43',
 '44',
 '45',
 '46',
 '47']

In [20]:
#filer merged_df to keep only relevant columns
merged_df_filtered = merged_df[["primary_id", "future_id"] + list(relevant_lhs_cols) + ["total_emissions_last_five_years"]]

In [21]:
merged_df_filtered

,primary_id,future_id,1,2,3,4,5,6,7,8,...,39,40,41,42,43,44,45,46,47,total_emissions_last_five_years
0,275276,1,0.952436,0.360397,0.202990,0.995748,0.369859,0.919920,0.478450,0.445798,...,0.873715,0.289038,0.996557,0.053597,0.175103,0.379422,0.438093,0.149362,0.869757,670.507643
1,275277,2,0.304955,0.204875,0.540658,0.800192,0.206396,0.777352,0.805727,0.536048,...,0.967765,0.536533,0.385371,0.246165,0.101025,0.717013,0.368791,0.774941,0.483352,604.450538
2,275278,3,0.609262,0.366443,0.601808,0.916668,0.386475,0.181162,0.138910,0.768925,...,0.080983,0.533412,0.601590,0.122444,0.653845,0.216259,0.714853,0.881270,0.581230,475.708631
3,275279,4,0.815313,0.487444,0.323954,0.634299,0.064625,0.926815,0.633805,0.439346,...,0.916428,0.264120,0.938985,0.592915,0.564895,0.027725,0.138890,0.820709,0.250616,758.004335
4,275280,5,0.973878,0.842718,0.884382,0.483039,0.455502,0.003343,0.571994,0.108021,...,0.819569,0.430582,0.492564,0.432240,0.662820,0.179231,0.631375,0.395960,0.661637,600.771431
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,276271,996,0.218189,0.886941,0.569155,0.107766,0.955775,0.380014,0.569711,0.312233,...,0.403915,0.004788,0.319760,0.567859,0.873065,0.309462,0.213959,0.531121,0.413153,623.338641
996,276272,997,0.510025,0.235856,0.847465,0.138888,0.182086,0.453749,0.242018,0.215693,...,0.968643,0.695228,0.368169,0.356410,0.584330,0.195851,0.217361,0.920388,0.402516,747.358673
997,276273,998,0.276479,0.612911,0.642697,0.952037,0.176638,0.411246,0.169671,0.694365,...,0.750968,0.326525,0.828078,0.653782,0.429175,0.977175,0.914779,0.307569,0.506892,634.154137
998,276274,999,0.600573,0.553323,0.306380,0.464389,0.834916,0.786519,0.717580,0.168263,...,0.790999,0.398381,0.757483,0.826523,0.961181,0.882943,0.900195,0.448056,0.664405,915.717778
999,276275,1000,0.164542,0.057579,0.648085,0.210240,0.441924,0.364614,0.031031,0.873487,...,0.535005,0.389584,0.300123,0.936939,0.657785,0.017582,0.513939,0.232670,0.118241,675.086427

In [22]:
#save the merged DataFrame to a CSV file
merged_df_filtered.to_csv(os.path.join(TRAINING_DIR_PATH, "training_data.csv"), index=False)