In [73]:
import pandas as pd
import os

In [83]:
SCRIPT_DIR_PATH = os.getcwd()
ROOT_DIR_PATH = os.path.dirname(SCRIPT_DIR_PATH)
DATA_DIR_PATH = os.path.join(ROOT_DIR_PATH, "data")
MAPPING_DIR_PATH = os.path.join(DATA_DIR_PATH, "mapping")
PREDICTORS_DIR_PATH = os.path.join(DATA_DIR_PATH, "predictors")
SSP_DIR_PATH = os.path.join(DATA_DIR_PATH, "ssp")
SIMULATION_DIR_PATH = os.path.join(SSP_DIR_PATH, "sisepuede_run_2025-01-14T17;04;06.975301_output_database")
TRAINING_DIR_PATH = os.path.join(DATA_DIR_PATH, "training")

In [75]:
lhc_trials_df = pd.read_csv(os.path.join(PREDICTORS_DIR_PATH, "lhc_trials_lever_effects_by_sample_group.csv"))
lhc_trials_df

,1,2,3,4,5,6,7,8,9,10,...,1472,1473,1474,1475,1476,1477,1478,1480,1481,future_id
0,0.980563,0.622679,0.140236,0.802093,0.809239,0.204801,0.524637,0.630477,0.832595,0.820676,...,0.194148,0.302870,0.936163,0.489698,0.355706,0.973953,0.163635,0.502731,0.215820,1
1,0.735548,0.301887,0.427054,0.403958,0.065751,0.112043,0.129692,0.464848,0.471658,0.077887,...,0.391113,0.627638,0.037490,0.116765,0.956556,0.605262,0.993768,0.606901,0.649376,2
2,0.483432,0.687238,0.788480,0.682344,0.550297,0.173999,0.258569,0.959298,0.102355,0.432940,...,0.085676,0.160749,0.503487,0.717740,0.322667,0.269358,0.440815,0.146352,0.294294,3
3,0.978340,0.251633,0.057635,0.432074,0.356407,0.050955,0.819088,0.708194,0.664282,0.536167,...,0.671211,0.635634,0.696036,0.291799,0.842492,0.965798,0.610868,0.941222,0.623498,4
4,0.096028,0.866167,0.248441,0.529266,0.495278,0.261648,0.640538,0.341921,0.513636,0.236388,...,0.156381,0.243530,0.098165,0.546683,0.467180,0.449347,0.442861,0.823770,0.297142,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,0.686931,0.293175,0.530016,0.537532,0.547453,0.592252,0.145215,0.595690,0.226719,0.555106,...,0.166374,0.492576,0.852423,0.576864,0.581870,0.729968,0.670905,0.526597,0.538860,996
996,0.652014,0.614792,0.722367,0.728350,0.258821,0.451143,0.933635,0.699838,0.318238,0.118908,...,0.081739,0.427041,0.841771,0.700368,0.034557,0.110096,0.358843,0.228176,0.567834,997
997,0.194568,0.471448,0.336939,0.843803,0.291440,0.503017,0.002373,0.607189,0.445903,0.462059,...,0.483941,0.270658,0.453539,0.533885,0.448723,0.985748,0.874981,0.341813,0.518431,998
998,0.298093,0.985266,0.876711,0.357384,0.324181,0.318030,0.521157,0.057600,0.803029,0.038362,...,0.826473,0.188016,0.836447,0.053303,0.036249,0.291268,0.829999,0.494574,0.087424,999
999,0.300035,0.474791,0.472236,0.001421,0.879908,0.982731,0.543588,0.954241,0.294011,0.824138,...,0.255654,0.371977,0.340507,0.891802,0.644067,0.331707,0.279897,0.038765,0.325093,1000

In [76]:
var_specifications_df = pd.read_csv(os.path.join(MAPPING_DIR_PATH, "variable_specification_to_sample_group.csv"))
var_specifications_df

                                 variable_specification  sample_group
0                                  area_gnrl_country_ha            48
1       avgload_trns_freight_tonne_per_vehicle_aviation            49
2     avgload_trns_freight_tonne_per_vehicle_rail_fr...            50
3     avgload_trns_freight_tonne_per_vehicle_road_he...            51
4     avgload_trns_freight_tonne_per_vehicle_water_b...            52
...                                                 ...           ...
2211                            yf_agrc_pulses_tonne_ha             2
2212                              yf_agrc_rice_tonne_ha             2
2213                        yf_agrc_sugar_cane_tonne_ha             2
2214                            yf_agrc_tubers_tonne_ha             2
2215              yf_agrc_vegetables_and_vines_tonne_ha             2

[2216 rows x 2 columns]

In [77]:
la_emissions_df = pd.read_csv(os.path.join(SIMULATION_DIR_PATH, "MODEL_OUTPUT.csv"))
la_emissions_df

,primary_id,region,time_period,area_agrc_crops_bevs_and_spices,area_agrc_crops_cereals,area_agrc_crops_fibers,area_agrc_crops_fruits,area_agrc_crops_herbs_and_other_perennial_crops,area_agrc_crops_nuts,area_agrc_crops_other_annual,...,yield_agrc_fruits_tonne,yield_agrc_herbs_and_other_perennial_crops_tonne,yield_agrc_nuts_tonne,yield_agrc_other_annual_tonne,yield_agrc_other_woody_perennial_tonne,yield_agrc_pulses_tonne,yield_agrc_rice_tonne,yield_agrc_sugar_cane_tonne,yield_agrc_tubers_tonne,yield_agrc_vegetables_and_vines_tonne
0,275275,louisiana,0,0.0,367983.831774,68239.857458,80.234375,79198.541655,6714.566582,1.154590e+06,...,1607.703461,955073.693482,19786.484805,7.132381e+06,0.0,985.642069,2.422231e+06,2.104457e+07,166526.651285,147.841681
1,275275,louisiana,1,0.0,362385.636787,67201.713944,79.013757,77993.681983,6612.416842,1.137025e+06,...,1618.201188,978025.173334,22849.096189,8.147695e+06,0.0,1148.204785,2.272766e+06,2.016430e+07,170339.476720,150.359797
2,275275,louisiana,2,0.0,361096.126663,66962.583908,78.732596,77716.149895,6588.887271,1.132979e+06,...,1574.244188,945124.232643,20042.187116,1.259799e+07,0.0,1389.455885,2.285081e+06,2.525521e+07,170252.877121,144.566821
3,275275,louisiana,3,0.0,359935.747562,66747.400257,78.479589,77466.409758,6567.713942,1.129338e+06,...,1487.104127,951997.620585,22167.895406,6.139224e+06,0.0,1457.885138,2.426876e+06,2.538268e+07,162040.494052,147.924261
4,275275,louisiana,4,0.0,358773.521179,66531.874041,78.226180,77216.272044,6546.506906,1.125692e+06,...,1583.188921,952671.199593,19588.348855,6.953864e+06,0.0,1125.040763,2.155513e+06,2.356779e+07,166703.308298,163.887648
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36031,276275,louisiana,31,0.0,309402.632008,67494.007968,99.280790,89132.167800,16695.284559,1.161004e+06,...,1449.350481,871948.732854,12592.990056,7.021991e+06,0.0,1055.062331,2.276019e+06,2.403699e+07,196573.614611,166.806631
36032,276275,louisiana,32,0.0,309172.389911,68774.060665,102.272019,91149.219633,18708.483406,1.177036e+06,...,1477.427300,885367.523944,12723.047466,7.109925e+06,0.0,1059.561793,2.296005e+06,2.393306e+07,197056.903265,167.693033
36033,276275,louisiana,33,0.0,308983.403716,70116.106905,105.313909,93186.116688,21109.791025,1.193151e+06,...,1505.572198,898808.002401,12811.278216,7.198400e+06,0.0,1064.598028,2.315909e+06,2.383202e+07,197544.003011,168.591509
36034,276275,louisiana,34,0.0,308833.414335,71512.549952,108.393442,95232.747284,24019.931656,1.209256e+06,...,1533.599093,912175.594875,12844.529332,7.286867e+06,0.0,1070.123263,2.335624e+06,2.373561e+07,198045.569544,169.504094
36035,276275,louisiana,35,0.0,308715.398813,72954.834981,111.497279,97278.672613,27620.872881,1.225251e+06,...,1561.352004,925391.026439,12806.362698,7.374855e+06,0.0,1076.088767,2.355067e+06,2.364535e+07,198571.034958,170.432604

In [78]:
subsector_totals_cols = [col for col in la_emissions_df.columns if "emission_co2e_subsector_total" in col]

# Calculate total_emissions
la_emissions_df["total_emissions"] = la_emissions_df[subsector_totals_cols].sum(axis=1)

cols_to_keep = ["primary_id", "time_period", "total_emissions"]

la_emissions_df = la_emissions_df[cols_to_keep]

la_emissions_df

       primary_id  time_period  total_emissions
0          275275            0       286.240266
1          275275            1       309.612427
2          275275            2       255.419631
3          275275            3       346.415753
4          275275            4       314.404711
...           ...          ...              ...
36031      276275           31       143.883905
36032      276275           32       139.413018
36033      276275           33       134.994698
36034      276275           34       130.557026
36035      276275           35       126.237780

[36036 rows x 3 columns]

In [79]:
# Filter out rows with time_period <= 30
la_emissions_df = la_emissions_df[la_emissions_df["time_period"] > 30]

# aggregate data by primary_id and region by summing the emissions
la_emissions_df_agg = la_emissions_df.groupby(["primary_id"]).sum().reset_index()

# Rename the total_emissions column to total_emissions_last_five_years
la_emissions_df_agg.rename(columns={"total_emissions": "total_emissions_last_five_years"}, inplace=True)

la_emissions_df_agg

      primary_id  time_period  total_emissions_last_five_years
0         275275          165                       140.265338
1         275276          165                       670.507643
2         275277          165                       604.450538
3         275278          165                       475.708631
4         275279          165                       758.004335
...          ...          ...                              ...
996       276271          165                       623.338641
997       276272          165                       747.358673
998       276273          165                       634.154137
999       276274          165                       915.717778
1000      276275          165                       675.086427

[1001 rows x 3 columns]

In [80]:
attr_primary_df = pd.read_csv(os.path.join(SIMULATION_DIR_PATH, "ATTRIBUTE_PRIMARY.csv"))
attr_primary_df

      primary_id  design_id  strategy_id  future_id
0         275275          3         6002          0
1         275276          3         6002          1
2         275277          3         6002          2
3         275278          3         6002          3
4         275279          3         6002          4
...          ...        ...          ...        ...
996       276271          3         6002        996
997       276272          3         6002        997
998       276273          3         6002        998
999       276274          3         6002        999
1000      276275          3         6002       1000

[1001 rows x 4 columns]

In [81]:
la_emissions_df_w_future_id = la_emissions_df_agg.merge(attr_primary_df, on="primary_id", how="inner")

# Drop design_id and stratgy_id columns
la_emissions_df_w_future_id = la_emissions_df_w_future_id.drop(columns=["design_id", "strategy_id", "time_period"])
la_emissions_df_w_future_id

      primary_id  total_emissions_last_five_years  future_id
0         275275                       140.265338          0
1         275276                       670.507643          1
2         275277                       604.450538          2
3         275278                       475.708631          3
4         275279                       758.004335          4
...          ...                              ...        ...
996       276271                       623.338641        996
997       276272                       747.358673        997
998       276273                       634.154137        998
999       276274                       915.717778        999
1000      276275                       675.086427       1000

[1001 rows x 3 columns]

In [82]:
merged_df = la_emissions_df_w_future_id.merge(lhc_trials_df, on="future_id", how="inner")

# Rearrange columns by moving "total_emissions_last_five_years" to the back
cols = list(merged_df.columns)
cols.remove("total_emissions_last_five_years")
cols.append("total_emissions_last_five_years")
merged_df = merged_df[cols]


merged_df

,primary_id,future_id,1,2,3,4,5,6,7,8,...,1472,1473,1474,1475,1476,1477,1478,1480,1481,total_emissions_last_five_years
0,275276,1,0.980563,0.622679,0.140236,0.802093,0.809239,0.204801,0.524637,0.630477,...,0.194148,0.302870,0.936163,0.489698,0.355706,0.973953,0.163635,0.502731,0.215820,670.507643
1,275277,2,0.735548,0.301887,0.427054,0.403958,0.065751,0.112043,0.129692,0.464848,...,0.391113,0.627638,0.037490,0.116765,0.956556,0.605262,0.993768,0.606901,0.649376,604.450538
2,275278,3,0.483432,0.687238,0.788480,0.682344,0.550297,0.173999,0.258569,0.959298,...,0.085676,0.160749,0.503487,0.717740,0.322667,0.269358,0.440815,0.146352,0.294294,475.708631
3,275279,4,0.978340,0.251633,0.057635,0.432074,0.356407,0.050955,0.819088,0.708194,...,0.671211,0.635634,0.696036,0.291799,0.842492,0.965798,0.610868,0.941222,0.623498,758.004335
4,275280,5,0.096028,0.866167,0.248441,0.529266,0.495278,0.261648,0.640538,0.341921,...,0.156381,0.243530,0.098165,0.546683,0.467180,0.449347,0.442861,0.823770,0.297142,600.771431
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,276271,996,0.686931,0.293175,0.530016,0.537532,0.547453,0.592252,0.145215,0.595690,...,0.166374,0.492576,0.852423,0.576864,0.581870,0.729968,0.670905,0.526597,0.538860,623.338641
996,276272,997,0.652014,0.614792,0.722367,0.728350,0.258821,0.451143,0.933635,0.699838,...,0.081739,0.427041,0.841771,0.700368,0.034557,0.110096,0.358843,0.228176,0.567834,747.358673
997,276273,998,0.194568,0.471448,0.336939,0.843803,0.291440,0.503017,0.002373,0.607189,...,0.483941,0.270658,0.453539,0.533885,0.448723,0.985748,0.874981,0.341813,0.518431,634.154137
998,276274,999,0.298093,0.985266,0.876711,0.357384,0.324181,0.318030,0.521157,0.057600,...,0.826473,0.188016,0.836447,0.053303,0.036249,0.291268,0.829999,0.494574,0.087424,915.717778
999,276275,1000,0.300035,0.474791,0.472236,0.001421,0.879908,0.982731,0.543588,0.954241,...,0.255654,0.371977,0.340507,0.891802,0.644067,0.331707,0.279897,0.038765,0.325093,675.086427

In [84]:
#save the merged DataFrame to a CSV file
merged_df.to_csv(os.path.join(TRAINING_DIR_PATH, "training_data.csv"), index=False)